[Unit]
Description=XT mini-QMT Client
Requires=xvfb.service
After=xvfb.service

[Service]
Type=simple
User=leap
Environment=DISPLAY=:99
Environment=WINEPREFIX=/opt/leap/wine
WorkingDirectory=/opt/leap/qmt/bin.x64
ExecStartPre=/bin/sh -c 'while ! xdpyinfo -display :99 >/dev/null 2>&1; do sleep 1; done'
ExecStartPre=/bin/cp /etc/lib/leap/linkMini /opt/leap/qmt/bin.x64
ExecStart=/usr/bin/wine XtMiniQmt.exe linkMini
Restart=always
ExecStop=/usr/bin/wineserver -k
KillMode=mixed

[Install]
WantedBy=multi-user.target