[Unit]
Description=X Virtual Frame Buffer

[Service]
Type=simple
User=leap
ExecStart=/usr/bin/Xvfb :99 -screen 0 800x600x16
Restart=always

[Install]
WantedBy=multi-user.target